<ul>
  <% @tasks.each do |task|  %>
  <li class="list">
    <div class="body-container">
      <%  if task[:completion_date]  %>
      <input type="checkbox" checked>
      <% else %>
      <input type="checkbox">
      <% end %>
        <span>
          <strong>Task Name: </strong><%= task[:action] %><strong>  Description: </strong><%= task[:description] %>
          <button><%= link_to "View Details", task_path(task.id) %></button>
          <button><%= link_to "Edit Task", edit_task_path(task.id) %></button>
          <button><%= link_to "Delete Task", task_path(task.id), method: :delete, data: { confirm: "Are you sure you want to delete the task #{task.action}?" } %></button>
          <button><%= link_to "Complete Task", complete_task_path(task.id), method: :patch %></button>
        </span>
    </div>
    </li>
    <% end %>
  </ul>
