<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="nav-container">
      <nav>
        <ul>
          <li><%= link_to "New Task", new_task_path %></li>
          <li><%= link_to "All Tasks", tasks_path %></li>
        </ul>
      </nav>
    </section>

    <section class="title">
      <h1>Task List</h1>
    </section>

    <main>
      <%= yield %>
    </main>

    <footer>
      <h4>
        Made by Dionisia Montanez at Ada Developers Academy &copy; 2018
      </h4>
    </footer>
  </body>
</html>
